@page "/"

@using Proba.Models

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" @onclick="ShowMessage" />

<p><b>@message</b></p>



@*<BSButton Color="Color.Primary" OnClick="@(() => LiveDemo.Show())">Launch demo modal</BSButton>
<BSModal @ref="LiveDemo" @ref:suppressField IgnoreEscape="true" IgnoreClickOnBackdrop="true">
    <BSModalHeader OnClick="@(() => LiveDemo.Hide())">Modal title</BSModalHeader>
    <BSModalBody>
        <BSBasicInput InputType="InputType.Text" @bind-Value="message"></BSBasicInput>
        <BSBasicInput InputType="InputType.Password" @bind-Value="message2"></BSBasicInput>
    </BSModalBody>
    <BSModalFooter>
        <BSButton Color="Color.Secondary" OnClick="@(() => LiveDemo.Hide())">Close</BSButton>
        <BSButton Color="Color.Primary" OnClick="@(() => LiveDemo.Hide())">Save Changes</BSButton>
    </BSModalFooter>
</BSModal>*@

@code {
    BSModal LiveDemo;
    private string message;
    private string message2;

    [CascadingParameter] Persistence Persistence { get; set; }

    void ShowMessage()
    {
        message = "Hello" + Persistence.IsAuthenticated;
    }




}